* {
  font-family: "Segoe UI", sans-serif;
  list-style: upper-latin;
}
.h1 {
  color: rgb(32, 124, 211);
  text-align: center;
}

#h3,
.line {
  text-align: center;
  color: grey;
}

table,
td,
th {
  border: 1px solid rgb(156, 156, 156);
  border-collapse: collapse;
  align-items: center;
}
.tb {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

th {
  background-color: gray;
  color: white;
}
td {
  background-color: #eeeeee;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 9px;
  color: grey;
}
